<footer class="container">
  <div class="row p-3">
    <div class="col-md-12 bg-light rounded mb-3 shadow-sm">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4 p-3">
              <h3>Alexey Komissarouk</h3>
              <img class="img-fluid p-3 bg-white rounded-circle header-img" alt="{{site.title}}" width="100%" height="100%" loading="lazy" src="{{site.author.image}}"/>
            </div>
            <div class="col-md-8 p-3">
              <h4>Founded or Eng #1'd</h4>
              <a href="https://hackerparadise.org">Hacker Paradise</a> |
              <a href="https://binti.com">Binti</a> |
              <a href="https://pennapps.com">PennApps Hackathon</a> |
              <a href="https://pennlabs.org">Penn Labs</a> |
              <a href="https://www.boomeranggmail.com/meeting-scheduling/">Boomerang Calendar</a>
              <h4>Nowadays</h4>
              <p>
                <a href="/growth-eng">Growth Eng Advisor</a> | Angel Investor
              </p>
              <h4>In the old days</h4>
              <p>Head of Growth Eng at <a href="https://masterclass.com">MasterClass</a> | Growth EM at <a href="https://opendoor.com">Opendoor</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-2 p-3 p-md-5">
          <h3>{{site.footernavtitle}}</h3>
          <div class="row mt-3 ">
            {% if site.footernav1.nav %}<a href="{{site.footernav1.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav1.nav}}</a>{% endif %}
            {% if site.footernav1.nav %}<a href="{{site.footernav2.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav2.nav}}</a>{% endif %}
            {% if site.footernav1.nav %}<a href="{{site.footernav3.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav3.nav}}</a>{% endif %}
            {% if site.footernav1.nav %}<a href="{{site.footernav4.link}}" class="col-md-12 col-3 nav-fots">{{site.footernav4.nav}}</a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="col-md-12 text-end fixed-bottom">
  <a href="#" title="back to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
  </a>
</div>
<script src="/assets/js/bs.js"></script>
</body>
</html>
