<!doctype html>
<html lang="{{site.lang}}">
<head>
<meta charset="utf-8">
{% if site.googlesiteverification %}<meta name="google-site-verification" content="{{site.googlesiteverification}}" />{% endif %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- seo -%}
{%- feed_meta -%}
{% if page.cover %}<meta content='{{page.cover}}' name='twitter:image'/>{% endif %}
{% if page.cover %}<meta content='{{page.cover}}' name='facebook:image'/>{% endif %}
<link rel="icon" type="image/x-icon" href="{{site.media.favicon}}" />
{% if site.social.facebook %}<meta content='{{site.social.facebook}}' property='facebook:author'/>{% endif %}
{% if page.description %}<meta content='{{page.description}}' property='facebook:description'/>{% endif %}
{% if page.description %}<meta content='{{page.description}}' name='twitter:description'/>{% endif %}
<meta content='index, follow' name='robots'/>
{% if site.social.twitter %}<meta content='{{site.social.twitter}}' property='twitter:author'/>{% endif %}
{% if site.social.twitter %}<meta content='{{site.social.twitter}}' name='twitter:site'/>{% endif %}
<link rel="stylesheet" href="/assets/css/bs.css"/>
<link rel="stylesheet" href="/assets/css/alexey.css"/>
</head>
<body>