<header class="container">
  <div class="row">
    <div class="col-md-4 p-3 p-md-5 text-center">
      <img class="img-fluid p-3 bg-light rounded-circle shadow-sm header-img" width="100%" height="100%" loading="eager" alt="{{site.title}}" src="{{site.author.image}}"/>
    </div>
    <div class="col-md-8 p-3 p-md-5">
      <div class="row">
        <h1 class="col-md-12 mt-5">{{page.title}}</h1>
        <h2 class="lead col-md-12">{{page.description}}</h3>
        <div class="col-md-8">
          <iframe src="https://embeds.beehiiv.com/e6e4a431-4ee3-491e-ad72-a3b738eaa350?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
        </div>
      </div>
    </div>
  </div>
</header>
