<header class="container">
<div class="row"> 
<div class="col-md-4 p-3 p-md-5 text-center">
<img class="img-fluid p-3 bg-light rounded-circle shadow-sm header-img" width="100%" height="100%" loading="lazy" alt="{{site.title}}" data-src="{{site.author.image}}"/>
</div>
<div class="col-md-8 p-3 p-md-5">
<div class="row">
<h1 class="col-md-12 mt-5">{{page.title}}</h1>
<h2 class="lead col-md-12">{{page.description}}</h3>
<div class=" col-md-8">
<form action="https://airform.io/{{site.author.email}}" method="post">
<div class="mb-3 mt-3 row">
<div class="col-md-8 col-8"><input type="email" class="form-control col-md-12" placeholder="{{site.subscribes.placeholder}}" name="email subscribe from alexa website" aria-label="email" aria-describedby="basic-addon2" required></div>
<div class="col-md-4 col-4"><button class="btn btn-light" id="basic-addon2">{{site.subscribes.button}}</button></div>
</div>
</form>
</div>
</div>
</div>
</div>
</header> 
