<div class="col-md-2 p-3 p-md-5">
<h3>{{site.footernavtitle}}</h3>
<div class="row mt-3 ">
{% if site.footernav1.nav %}<a href="{{site.footernav1.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav1.nav}}</a>{% endif %}
{% if site.footernav1.nav %}<a href="{{site.footernav2.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav2.nav}}</a>{% endif %}
{% if site.footernav1.nav %}<a href="{{site.footernav3.link}}" class="col-md-12 col-3 nav-fot">{{site.footernav3.nav}}</a>{% endif %}
{% if site.footernav1.nav %}<a href="{{site.footernav4.link}}" class="col-md-12 col-3 nav-fots">{{site.footernav4.nav}}</a>{% endif %}
</div>
</div>