<div class=" col-md-12 mx-auto mt-3 mb-3">
<div class="p-3 shadow-sm ser bg-light subs">
<h4 class="text-center p-1 mt-3">{{site.subscribes.title}}</h4>
<p class="p-1 text-center">{{site.subscribes.text}}</p>
<div class="col-md-10 mx-auto text-center">
<iframe src="https://embeds.beehiiv.com/{{site.behiiv_id}}?slim=true" loading="lazy" data-test-id="beehiiv-embed" class="col-md-8 mx-auto"
frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
</div>
</div>
</div>