<div class="modal fade" id="subsModal" tabindex="-1" aria-labelledby="subsModalLabel" aria-hidden="true">
<div class="modal-dialog mts modal-xxl-down">
<div class="modal-content">
<div class="modal-header" style="border:none;">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="text-center mt-3 mb-3">
<h4 class="text-center p-1">{{site.subscribemodal.title}}</h4>
<form action="https://airform.io/{{site.author.email}}" method="post">
<input type="text" class="form-control col-md-12 mt-3 mb-3" placeholder="{{site.subscribemodal.placeholder}}" aria-label="email" aria-describedby="basic-addon2">
<button class="btn btn-dark mb-3 mt-3" id="basic-addon2">{{site.subscribemodal.button}}</button>
</form>
</div>
</div>
</div>
</div>
</div>