<div class="modal fade" id="subsModal" tabindex="-1" aria-labelledby="subsModalLabel" aria-hidden="true">
<div class="modal-dialog mts modal-xxl-down">
<div class="modal-content">
<div class="modal-header" style="border:none;">
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="text-center mt-3 mb-3">
<h4 class="text-center p-1">{{site.subscribemodal.title}}</h4>
<div class="col-md-10 mx-auto text-center">
<iframe src="https://embeds.beehiiv.com/{{site.beehiiv_id}}?slim=true" loading="lazy" data-test-id="beehiiv-embed" class="col-md-12"
frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
