<div class=" col-md-12 mx-auto">
<div class="p-3 shadow-sm ser bg-light mt-3 mb-3">
<h4 class="text-center p-1">{{site.subscribes.title}}</h4>
<div class="col-md-6 mx-auto">
<form action="https://tinyletter.com/engineering-growth" method="post">
<div class="row mb-3 mt-3">
<div class="col-md-8">
<input type="email" class="form-control mt-3" placeholder="{{site.subscribes.placeholder}}" name="email subscribe from alexa website" aria-label="email" aria-describedby="basic-addon2" required>
</div>
<div class="col-md-4 text-center">
<button class="btn btn-dark mt-3" id="basic-addon2">{{site.subscribes.button}}</button>
</div>
</div>
</form>
</div>
<p class="p-1 text-center">{{site.subscribes.text}}</p>
</div>
</div>
