@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body,html {font-family: 'Poppins', sans-serif;}
h1,h2,h3,h4,h5,.navbar-brand{font-family: 'Kanit', sans-serif;}
a {color:black; text-decoration:none;}
.tag {font-size: 12px;}
img {border-radius: 12px 12px 12px 12px; margin-top: 5px; margin-bottom:5px;}  
.ser {border-radius: 12px 12px 12px 12px; }
.nav-link:hover {text-decoration: underline;}  
.zoom:hover { transform: scale(1.05) } .zoom {transition: transform 0.6s;}