---
layout: default
title: Blog Alexey 
description: Alexey Update article blog
cover: /assets/img/alexey.jpg
---
<main class="container">
<div class="row"> 
<div class="col-md-12 p-3">
<h3>{{site.postlist.title}}</h3>
</div>
{% for post in paginator.posts %}
<div class="col-md-6 p-1">
<div class="p-3 ">
<h4><a href="{{post.url}}">{{post.title}}</a></h4>
{% if post.description %}<p>{{post.description}}</p>{% endif %}
</div>
</div>
{% endfor %}
</div>
<div class="col-md-12">
<div class="mt-3 mb-5">
{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="me-3">{{site.paginationpage.next}}</a>{% endif %}
{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">{{site.paginationpage.previous}}</a>{% endif %}
</div>
</div>
</main>