{% include headpost.html %}
<main class="container">
  <div class="row mt-3">
    <div class="col-md-9 mt-5 p-1 mx-auto">
      <h1><a href="{{page.url}}">{{page.title}}</a></h1>
    </div>
    <div class="col-md-10 mx-auto">
      {% if page.cover %}
      {% if site.url contains 'localhost' %}
      {% assign cover_url = site.url | append: page.cover %}
      {% else %}
      {% assign cover_url = "https://wsrv.nl/?url=" | append: site.url | append: page.cover %}
      {% endif %}

      <img class="img-fluid" style="border-radius:0px;" width="100%" alt="{{page.title}}" loading="lazy" src="{{ cover_url }}"/>
      {% endif %}
    </div>
    <div class="col-md-9 mx-auto">
      <p class="tag text-secondary"><i>{{ page.date | date: "%-d %B %Y" }}</i></p>

<!-- quick course launch modal hack. TODO AMK, remove when I get a chance  - meanwhile, hiding via JS.-->
<div id="course-launch-notification" class=" alert alert-warning text-center" role="alert" style="margin: 20px 0;">
	<h4 class="text-center p-1 mt-3">🧑‍🎓 Reforge Course on Growth Engineering Starts Oct 30</h4>
	<p class="p-1 text-center">Finally, a Growth course for engineers, by engineers. <br />Over 4 weeks, we'll dig into growth fundamentals, psychology, stats & analytics, design patterns, and growth engineering leadership.
</p>
  <a href="https://www.reforge.com/courses/growth-engineering/details?utm_id=growth_engineering_alexey&utm_medium=social&utm_source=alexey-blog-callout&utm_campaign=courses_creators_Q340" class="btn btn-primary" role="button">Learn more on Reforge</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var today = new Date();
    var cutoffDate = new Date("2024-10-30");

    if (today > cutoffDate) {
      var notification = document.getElementById("course-launch-notification");
      if (notification) {
        notification.style.display = "none";
      }
    }
  });
</script>
      <div class="content">
        {{content}}
        <p class="tag">Tags:
        {% if page.tags %}
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="{{site.baseurl}}/tags.html#{{tag}}" class="p-1 me-1">#{{ tag_name }}</a>
        {% endfor %}
        {% endif %}
        </p>
      </div>
      <div class="p-3 text-center">
      </div>
      {% include hardcode/otherpost.html %}
    </div>
  </div>
</main>
{% include widget/subscribe.html %}
{% include widget/subscribemodal.html %}
{% include widget/share.html %}
{% include footer.html %}
