{% include head.html %}
{% if page.url == "/" %}
<header class="container">
  <!-- header -->
  <div class="row mt-5">
    <div class="col-md-4 p-3 p-md-5 text-center">
      <img class="img-fluid p-3 bg-light rounded-circle shadow-sm header-img" width="100%" height="100%" loading="lazy" alt="{{site.title}}" src="{{site.author.image}}"/>
    </div>
    <div class="col-md-8 p-3 p-md-5">
      <div class="row">
        <h1 class="col-md-12">{{page.title}}</h1>
        <h2 class="lead col-md-12">{{page.description}}</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/about">About</a> | <a href="/growth-eng">Work With Me</a>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-8 w-100">
          <iframe src="https://embeds.beehiiv.com/{{site.beehiiv_id}}?slim=true"
                  class="col-md-10" loading="lazy"
                                    data-test-id="beehiiv-embed" height="52" frameborder="0"
                                                                             scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header -->

<!-- widget start -->
<div class="container">
  <div class="row alert alert-warning">
    <!-- popular post widget -->
    <h3>{{site.popularposttitle}}</h3>
    {% for post in site.popularpost %}
    <div class="col-md-6">
      <h4><a href="{{post.link}}">{{post.title}}</a></h4>
      <p>{{post.description}}</p>
    </div>
    <!-- popular post widget -->
    {% endfor %}
  </div>
</div>
{% endif %}
<!-- widget start -->

<!-- post -->
<!-- this is where we have the paginated content -->
<main class="container">
  <div class="row">
    <h3>{{site.postlist.title}}</h3>
  </div>
  {{content}}
</main>
<!-- post -->

{% include footer.html %}
